<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Вход</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body class="centered">

<div class="card">
    <h2>Вход в систему</h2>

    <form th:action="@{/login}" method="post">
        <div class="field">
            <label>Логин</label>
            <input type="text" name="username" required>
        </div>

        <div class="field">
            <label>Пароль</label>
            <input type="password" name="password" required>
        </div>

        <button type="submit" class="btn">Войти</button>
    </form>

    <p class="error" th:if="${param.error}">
        Неверный логин или пароль
    </p>

    <p class="logout" th:if="${param.logout}">
        Вы успешно вышли
    </p>
</div>

</body>
</html>
